*{
    padding: 0;
    margin: 0;
 }
h1{
    font-family: Helvetica;
    font-weight: 100;
    color: white;
    font-size: 80px;
    margin-bottom: 60px;
}

#app{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.buttons{
    justify-content: space-around;
    display: inherit;
    width: 80%;
    
}
.changer{
    border: 4px solid white;
    width: 90px;
    height: 90px;
    display: inline-grid;
    place-items: center;
    color: white;
    font-size: 40px;
    font-weight: bold;
}

